*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    border: 2px solid black;
    text-align: center;
    margin: 20% 8% 8% 8%;
    padding: 20px;
    background-color:#D46461;
}

h5{
    font-size: 1.2rem;
}

h5 span{
    color: yellow;
}

.content{
    font-size: 2rem;
}

.download {
    text-align: center;
    font-size: 1.1rem;
}